* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    outline: 0;
    font-family: 'BioRhyme';
}
@font-face {
    font-family: 'Muli';
    src: url('/Muli/Muli-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'BioRhyme';
    src: url('/BioRhyme/BioRhyme-Regular.ttf');
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, rgb(224, 102, 102) 0%, rgb(103, 78, 167) 100%) white;
}

.navbar button {
    background: 0;
    border: 0;
    color: white;
    outline: 0;
    font-size: 20px;
    margin: 5px;
}
.navbar button img {
    height: 60px;
}
.playButton img {
    height: 60px;
    transition: transform 1s;
    cursor: pointer;
}
.playButton img:hover {
    transform: scale(1.1);
}
.bpm {
    background: 0;
    border: 0;
    color: white;
    text-align: center;
    font-size: 50px;
    width: 90px;
    vertical-align: 19%;
    height: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bpmBox {
    display: inline-block;
    border: solid white 3px;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}
.bpmBox span {
    font-size: 15px;
    color: white;
    vertical-align: 100%;
}