* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    outline: 0;
    font-family: 'Rubik';
}
@font-face {
    font-family: 'Muli';
    src: url('/Muli/Muli-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'BioRhyme';
    src: url('/BioRhyme/BioRhyme-Regular.ttf');
}
@font-face {
    font-family: 'Rubik';
    src: url('/Rubik/Rubik-Light.ttf');
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    background: linear-gradient(135deg, rgb(224, 102, 102) 0%, rgb(103, 78, 167) 100%) white;
    overflow: hidden;
}
.navBox {
    padding: 15px;
    border-right: solid white 1px;
    float: left;
    height: 100px;
}
.navBox img {
    height: 40px;
    display: block;
}
.bpm {
    display: inline-block;
    border: 0;
    background: 0;
    height: 40px;
    color: white;
    font-size: 30px;
    width: 55px;
    text-align: center;
}
.bpmBox span {
    display: inline-block;
    color: white;
    vertical-align: 14%;
    font-size: 20px;
}
.playButton, .metronome {
    cursor: pointer;
}
.playButton img, .metronome img {
    transition: transform 1s;
}
.playButton:hover img, .metronome:hover img {
    transform: scale(1.1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.textBox span {
    color: white;
    font-size: 30px;
    line-height: 142%;
}
.pads {
    position: fixed;
    bottom: 0;
    top: 73px;
    text-align: center;
    right: 30%;
    left: 30%;
}
.pad {
    padding: 10%;
    background-color: black;
    width: 1px;
    height: 1px;
    display: inline-block;
}
.pads table {
    width: 100%;
    border-spacing: 12px;
}
.pads td {
    height: 20vh;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(224, 102, 102) 0%, rgb(103, 78, 167) 100%) white;
}
.pads td div {
    background-color: white;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 5px;
}