* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, rgb(224, 102, 102) 0%, rgb(103, 78, 167) 100%) white;
    text-align: center;
}

.navbar button {
    background: 0;
    border: 0;
    color: white;
    outline: 0;
    font-size: 20px;
    margin: 5px;
}
.playButton img {
    height: 60px;
    transition: transform 1s;
    cursor: pointer;
}
.playButton img:hover {
    transform: scale(1.1);
}